body{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color: green;
    padding: 20px 40px;
}

.header-logo {
    color: #ffffff;
}

.header-menu {
    position: absolute;
    top: 0;
    right: 40px;
    color: #ffffff;

}

li {
    list-style: none;
    display: inline;
    margin: 10px;   
}
